<div class="post bg-white center">
    <h2>{{title}}</h2>
    <p>Location: {{location}}</p>
    <p>Date: {{formatDate date}}</p>
    <img src="{{image}}" class="center">

   
    {{!-- viewer can see how many likes post has received --}}
   
    <div class="float-left">
        <span id="likes-count" >{{likeCount}} likes</span>

    {{!-- viewer can click here to view the post individually --}}
        <a href="/post/{{id}}">View Post</a>
    </div>
</div>