<div class="post">
    <h2>{{title}}</h2>
    <p>Location: {{location}}</p>
    <p>Date: {{date}}</p>
    <img src="{{image}}">

   
    {{!-- viewer can see how many likes post has received --}}
   
    <span id="likes-count" >{{likeCount}} likes</span>

    {{!-- viewer can click here to view the post individually --}}
    <a href="/post/{{id}}">View Post</a>
</div>