<div class="post">
    <a href="/post/{{id}}">
    <h2>{{title}}</h2>
    <div class="photo">
    <img src="{{image}}" class="">
    </div>


    <div class="post-info">
    <p>
        <span class="left-float">{{location}}</span> 
    <span id="likes-count" >{{likeCount}} likes</span>
     <span class="right-float">{{formatDate date}}</span>
     </p>
    </div>
    <div>

    </div>
        </a>
</div>