<div class="post">
    <h2>{{title}}</h2>
    <p>Location: {{location}}</p>
    <p>Date: {{date}}</p>
    {{!-- <img src="{{image}}"> --}}

   
    {{!-- viewer can like and see how many likes post has received --}}
    <button class="like-button" data-post-id="{{id}}">
        Like
    </button>
    {{!-- <span class="likes-count">{{likes}} likes</span> --}}

    {{!-- viewer can click here to view the post individually --}}
    <a href="/post/{{id}}">View Post</a>
</div>