<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Where Next?</title>
  <link rel="stylesheet" href="../css/style.css">
  <link>
</head>

{{!-- users will be given the option to log in or sign up --}}
<body>
  <header>
    <h1 class="bg-orange-400 w-100 h-52">Where Next?</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    {{!-- feed for posts to generate based on newest to oldest posts --}}
    <section>
      {{#each posts}}
      <div class="post">
        <h2>{{title}}</h2>
        <p>Location: {{location}}</p>
        <p>Date: {{date}}</p>
        <img src="{{image}}">
        {{!-- viewer can view comments --}}
        <h3>Comments</h3>
        <ul>
          {{#each comments}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
        {{!-- allows user to add comments to posts --}}
        <form action="/addComment" method="post">
          <input type="text" name="comment" placeholder="Enter your comment">
          <input type="hidden" name="postId" value="{{id}}">
          <button type="submit">Add Comment</button>
        </form>
        {{!-- viewer can like and see how many likes post has received --}}
        <button class="like-button" data-post-id="{{id}}">
          Like
        </button>
        <span class="likes-count">{{likes}} likes</span>

        {{!-- viewer can click here to view the post individually --}}
        <a href="/posts/{{post.id}}">View Post</a>
      </div>
    {{/each}}
    </section>
    <aside>
      {{!-- on the right side of the page, viewers can create a new post --}}
      <h2>Create New Post</h2>
      <form action="/createPost" method="post">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="caption" placeholder="Caption">
        <input type="text" name="location" placeholder="Location">
        <input type="file" name="image" accept="image/*">
         <button type="submit">Create Post</button>
      </form>
    </aside>
