{{!-- viewer can see the individual post they selected in the postFeed --}}
<h2>{{post.title}}</h2>
<p>Content: {{post.content}}</p>
<p>Location: {{post.location}}</p>
<p>Date: {{post.date}}</p>
<img src="{{post.image}}"></img>
<span id="likes-count">{{post.likeCount}} likes</span>
<button id="like-button">
  Like
</button>

<h3>Comments</h3>
{{!-- {{#each }} --}}
  {{!-- <p>{{NEED A PARTIAL HERE}}</p> --}}
{{!-- {{/each}} --}}

{{!-- allows user to add comments to posts --}}
<form class="create-comment">
  <input type="text" id="comment" placeholder="Enter your comment">
  <input type="hidden" name="postId" value="{{id}}">
  <button type="submit">Add Comment</button>
</form>
<script src="/js/createcomment.js"></script>
<script src="/js/addlike.js"></script>