{{!-- viewer can see the individual post they selected in the postFeed --}}
<h4>{{post.title}}</h4>
{{#if isAuthor}}
<div class="deletebutton-box">
<button id="deleteButton" class="center">DELETE</button>
</div>
{{/if}}
<p>Content: {{post.content}}</p>
<p>Location: {{post.location}}</p>
<p>Posted on: {{formatDate post.date}}</p>
<div class="center photo">
  <img src="{{post.image}}" class=""></img>
  <span class="left-float" id="likes-count">{{post.likeCount}} likes</span>
  <button class="right-float buttons" id="like-button">
    Like
  </button>
</div>

<div class="comment-section center">

<h3>Comments</h3>
{{#each post.comments}}
  {{> commentPartial }}
{{/each}}
</div>

{{!-- allows user to add comments to posts --}}
<div class="center">
  <form class="create-comment ">
    <input type="text" id="comment" placeholder="Enter your comment">
    <button type="submit" id="comment-button">Add Comment</button>
  </form>
</div>
<script src="/js/createcomment.js"></script>
<script src="/js/addlike.js"></script>
{{#if isAuthor}}
<script src="/js/deletepost.js"></script>
{{/if}}